  <form action="<%=action.fullLink%>" method="POST" style="display:inline"><button type="submit" class="<%= action.displayClass %> btn btn-xs btn-primary" title="<%= action.label %>"><i class="<%= action.icon %>"></i></button></form>
