<% if(actions.default) { actions = actions.default } %>
<% actions.forEach(function(action) { %>
  <a class="btn btn-primary <%= action.displayClass %>" href="<%= makeActionUrl(action.link) %>"><i class="<%= action.icon %>"></i> <%= action.label %></a>
<% }) %>
