     <div class="form-group">
        <label class="col-sm-3 to-right" for="phone"><%= label %>?</label>
        <div class="col-sm-7">
            <input type="checkbox" id="<%= name %>" class="" <%= value ? 'checked="checked"' : '' %> name="<%= name %>">
        </div>
    </div>
