<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- render('flash') %>
    <%- content %>
    <!-- /#wrapper -->
    <%- include('../partials/scripts.ejs') %>
</body>

</html>
