<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <div id="wrapper">
        <%- render('flash', {req}) %>
        <%- content %>
    </div>
    <!-- /#wrapper -->
    <%- include('../partials/scripts.ejs') %>
</body>

</html>
